@tailwind base;
@tailwind components;
@tailwind utilities;

.coin-flip-container {
  perspective: 1000px;
}

.coin-flip-inner {
  transform-style: preserve-3d;
  position: relative;
}

.coin-flip-inner .coin-face {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coin-face.face-back {
  transform: rotateY(180deg) translateZ(-1px);
}

@keyframes wave {
  0% {
    transform: translateY(0px)
  }
  5% {
    transform: translateY(-6px)
  }
  10% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(0px)
  }
}